/* Main CSS file - now contains only non-critical styles */
@import "./non-critical.css";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-bootstrap-grid';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @import "./base.css";
}
